{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Extension</h1>

<f:flashMessages />

<table  class="tx_gitmanager" >
	<tr>
		<th> </th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{extensions}" as="extension">
		<tr>
			<td> </td>
			<td><em:image src="../{extension.siteRelPath}/{extension.ext_icon}" alt="{extension.title}" height="16" />{extension.title}</td>
			<td><f:link.action action="edit" arguments="{extension : extension}">Edit</f:link.action></td>
		</tr>
	</f:for>
	<f:debug>{extensions}</f:debug>
</table>

<f:link.action action="new">Clone new Extension</f:link.action>
</f:section>