<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>New Extension</h1>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:form action="clone"  name="newExtension" object="{newExtension}">
	<label for="url">URL:</label>
	<f:form.textfield property="url" />
	<br />
	<label for="folder">Folder</label>
	<f:form.textfield property="folder" />
	<br />
	<label for="installType">Install Type</label>
	<f:form.select property="installType" options="{allowedInstallTypes}" />
	<br />
	<f:form.submit value="Clone" />
</f:form>
</f:section>